#game {
  border: 1px solid red;
  position: absolute;
  width: 800px;
  height: 600px;

  background-image: url('./map.gif');
  background-position: 700 500;
}

#player {
  border: 1px solid black;
  background-color: red;
  height: 20px;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  position: relative;
  width: 20px;
}